
bin/Debug/Orders.exe
bin/Debug/Orders.pdb
obj/Debug/Orders_VS2012.csprojAssemblyReference.cache
obj/Debug/Orders_VS2012.csproj.ResolveComReference.cache
obj/Debug/Orders_VS2012.csproj.GenerateResource.cache
obj/Debug/Orders_VS2012.csproj.FileListAbsolute.txt
obj/Debug/Orders.pdb
obj/Debug/Orders.OrderForm.resources
obj/Debug/Orders.MainForm.resources
obj/Debug/Orders.exe
